body, html {
	min-height: 100%;
}

body > .container { margin-top: 60px; }

.container-form-register {
	background-color: #fafafa;
	border: 1px solid #ccc;
	min-height: 200px;
	padding: 5px 5px 30px;
}

.label-align {
	margin-bottom: 0px;top: 7px;
}

.panel-orange {
	border-color: #F15D24;
}

.panel-orange > .panel-heading {
    border-color: #F15D24;
    color: #fff;
    background-color: #F15D24;
}

/*.panel-yellow > a {
    color: #F15D24;
}

.panel-yellow > a:hover {
    color: #F15D24;
}*/