    body { margin:0; padding:0; }
        #map { position: absolute; top:0; bottom:0; width:100%; }

        html, body, #map {
            height: 100%;
            font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        }
        .lorem {
            font-style: italic;
            color: #AAA;
        }

        #icon {
            top: 0px;
            margin-left: 100px;
            position: absolute; 
             z-index: 20;
            }

                #country {
            top: 70px;
            margin-right: : 100px;
            position: absolute; 
             z-index: 20;
            }

        .marker {
                display: block;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                padding: 0;
            }
            .leaflet-container {
              z-index: 20;
            }

            
            .sidebar-pane {
                   // background-image: url(static/css/images/hacking.gif);
                    background-repeat: repeat;
                    position:absolute;
                    display: block; 
                    width: 100%;
                    height:  100%;
                   }

           .sidebar-header{
            background-color: #1867D5;
           }
         .leaflet-bar .tag-filter-tags-container ul li a {
                background-color: transparent !important;
                font-size: 12px;
                font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
                color: hsl(30, 2%, 29%);
                display: inline-block;
                padding: 5px 15px;
                text-decoration: none;
                cursor: pointer;
                user-select: none;
                position: relative;
}
.leaflet-bar .tag-filter-tags-container ul li {
    border: 1px solid hsl(241, 7%, 84%);
}

.leaflet-bar .tag-filter-tags-container ul {
      border: 1px solid hsl(241, 7%, 84%);
}

.leaflet-bar .tag-filter-tags-container ::-webkit-scrollbar-thumb {
    background: #0f6dfb;
    border: thin solid gray;
    border-radius: 10px;
}
                   
}


    .leaflet-control-layers-group-name {
      font-weight: bold;
      margin-bottom: .2em;
      display: block;
    }

    .leaflet-control-layers-group {
      margin-bottom: .5em;
    }

    .leaflet-control-layers-group label {
      padding-left: .5em;
    }

    .sidebar-tabs {
        background-color: #ffffff;
        opacity:0.7;
    }
    .leaflet-control-zoom {
        background-color: #ffffff;
        opacity:0.7;
    }
    .leaflet-control-layers{

        opacity:0.9;
    }
    .undefined-1 {
        display: none;
    }
    .leaflet-control {
        
        opacity:0.7;
    }
    .leaflet-control-toolbar .undefined-1>li>.leaflet-toolbar-icon {
    display: block;
    background-color: #919187;
   
    color: #fff;
    font: 11px/19px "Helvetica Neue",Arial,Helvetica,sans-serif;
    line-height: 26px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 26px;
}
.undefined-1 li {
    display: inline;
}
.leaflet-toolbar-0 {
    list-style: none;
    padding-left: 0;
   
}
.leaflet-bar .tag-filter-tags-container ::-webkit-scrollbar {
    width: 18px;
}

.leaflet-bar .tag-filter-tags-container ::-webkit-scrollbar-thumb {
    background: #686a6b;
    border: thin solid gray;
    border-radius: 10px;
    width: 50px;
}
.leaflet-bar .tag-filter-tags-container ul.header {
    height: 28px;
    overflow: hidden;
    border-top: 1px solid hsl(180, 11%, 95%);
    border-bottom: 1px solid hsl(180, 11%, 96%);
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.leaflet-bar .tag-filter-tags-container ul {
    border: 1px solid hsl(180, 40%, 60%);
    box-shadow: 0 1px 7px #999;
    width: 250px;
    margin: 0 auto;
    overflow-y: auto;
    max-height: 200px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


.leaflet-bar .tag-filter-tags-container .checkbox {
    display: none;
    font-size: 14px;
    color: hsl(213, 74%, 53%);
    margin-left: 5px;
}
.leaflet-bar .tag-filter-tags-container ul {
    border: 1px solid hsl(180, 5%, 77%);
    box-shadow: 0 1px 7px #999;
    width: 200px;
    margin: 0 auto;
    overflow-y: auto;
    max-height: 200px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.leaflet-bar .tag-filter-tags-container {
    display: none;
    position: absolute;
    top: 0px;
    z-index: -20;
    padding-bottom: 10px;
    padding-left: 5px;
}




Pseudo ::scrollbar-button element
leaflet-tag-fil…button.css:123


  /* default styles here for older browsers. 
       I tend to go for a 600px - 960px width max but using percentages
    */
    @media only screen and (min-width:960px){
        /* styles for browsers larger than 960px; */

    }
    @media only screen and (min-width:1440px){
        /* styles for browsers larger than 1440px; */
    }
    @media only screen and (min-width:2000px){
        /* for sumo sized (mac) screens */
    }
    @media only screen and (max-device-width:480px){
       /* styles for mobile browsers smaller than 480px; (iPhone) */
        #icon {
             
             top: 0px;
             position: absolute; 
             z-index: 20;
             margin-left: 40px;
             
            }
            #icon img {
                height: 50px;
             width: 150px; 
            }
               .leaflet-draw-toolbar.leaflet-control-toolbar {
                 margin-top: 12px;
                  display: none;
            }
    }
    @media only screen and (device-width:768px){
       /* default iPad screens */
    }
    /* different techniques for iPad screening */
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      /* For portrait layouts only */
       
    }

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      /* For landscape layouts only */
       
    }
